.DS_Store
node_modules
# /dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sw?
/.vs
/NewsApp/.vs/NewsApp/v16/Server/sqlite3
/NewsApp/obj/Debug/netcoreapp2.2
/NewsApp/obj
/NewsApp/.vs/NewsApp/DesignTimeBuild
/NewsApp/wwwroot
/Entities/bin/Debug/netcoreapp2.2
/Entities/obj/Debug/netcoreapp2.2
/Entities/obj/Debug/netcoreapp3.0
/Entities/obj/Release/netcoreapp2.2
/Entities/obj/Release/netcoreapp3.0
/Entities/obj
/NewsApp/.vs/NewsApp/config
/NewsApp/bin/Debug/netcoreapp2.2
/Repositories/bin/Debug/netcoreapp2.2
/Repositories/obj/Debug/netcoreapp2.2
/Repositories/obj/Debug/netcoreapp3.0
/Repositories/obj/Release
/Repositories/obj
/Services/bin/Debug/netcoreapp2.2
/Services/obj
